<meta charset="UTF-8">

<br>

<div ng-controller="carrinhoController">
Compra de livros<br><br>

<form name="frmCarrinho">
    <div ng-repeat="li in livros">
        {{'Livro ' + li.id + ': ' + li.nome + ' | Preço: R$' + li.preco}} | Quantidade:
        <input type="number" name="txtQuantidade" min="0" ng-model="livro.quantidade">
        <input type="button" value="Adicionar" ng-click="adicionarLivro()">
    </div><br>
    Lista de compras:
    <div ng-repeat="li in carrinho.listaLivros">
        {{'Livro ' + car. + ': ' + li.nome + ' | Preço: R$' + li.preco + ' | Quantidade: ' + li.quantidade}}
    </div><br>
    Valor total: {{carrinho.total}} <input type="button" value="Calcular" ng-click="calcularCompra()">
    <input type="button" value="Comprar" ng-click="salvarCarrinho()">
</form>
</div>