<meta charset="UTF-8">

<br>

<div ng-controller="livroController">

Lista de livros<br><br>
<form name="frmLivro">
    <div>
        <label>Nome: </label>
        <input type="text" name="txtNome" ng-model="livro.nome" required>
    </div>
    <div>
        <label>Preço: R$</label>
        <input type="number" name="txtPreco" min="0" ng-model="livro.preco" required>
    </div>
    <input type="button" value="Salvar" ng-click="salvarLivro()">
    <input type="button" value="Cancelar" ng-click="cancelarAlteracaoLivro()">
</form>
<div ng-repeat="li in livros">
    {{'Livro ' + li.id + ': ' + li.nome + ' | Preço: R$' + li.preco}} &nbsp;
    <input type="button" value="Alterar" ng-click="alterarLivro(li)">
    <input type="button" value="Excluir" ng-click="excluirLivro(li)">
</div>
</div>